@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.landingpage {
  background-image: url(/background.svg);
  z-index: 2;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.reservation_form :last-child {
  position: relative;
  left: 50%;
  cursor: pointer;
}

.Register_form {
  font-family: sans-serif;
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background: hsla(0, 0%, 100%, 1);

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(18, 100%, 87%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(18, 100%, 87%, 1) 100%
  );

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(18, 100%, 87%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#FFD2BF", GradientType=1 );
}

.glossybackground {
  /* From https://css.glass */
  background: rgba(146, 146, 146, 0.266);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.Dsah_gradient {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #faf3fb,
    #fce6f1,
    #ffd9de,
    #ffcec5,
    #ffc8bb,
    #ffc2b1,
    #ffbda6,
    #ffb8b2,
    #ffb5c2,
    #ffb4d4,
    #ffb6e8
  );
}